[submodule "camera/gcc"]
	path = camera/gcc
	url = https://android.googlesource.com/toolchain/gcc
[submodule "camera/binutils"]
	path = camera/binutils
	url = https://android.googlesource.com/toolchain/binutils
[submodule "camera/cereal"]
	path = camera/cereal
	url = https://github.com/SeanAvery/cereal.git
